<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta charset="UTF-8">
    <title>Bacon Binary</title>
    <style type="text/css">
        
    body {
    background-color: silver;
    text-align: center;
    font-family: Helvetica, Optima, Verdana, sans-serif;
    }
    
    .link {
    padding-right: 1em;
    color: #CC0000;
    text-align: center;
    }


    </style>
</head>
<body>
<div>

    <h1>Bacon Binary</h1>
    <a class="link" href="/encrypt">encrypt a message</a>
    <a class="link" href="/decrypt">decrypt a message</a>
    <a class="link" href="/bacon">homepage</a>

</div>
<hr>
{% block content %}{% endblock %}

</body>
</html>
